%h1 Upcoming Appointments




%h1 Available Appointments
- @appointments.each do |appointment|
  Date:
  = appointment.formatted_date
  %br/
  Time:
  = appointment.formatted_start_time
  \-
  = appointment.formatted_end_time
  w/
  = appointment.mentor.first_name
  %br/
  %br/
