header {
  width: 100%;
  background-color: #262929;
  display: flex;
  justify-content: space-between;
  padding: .1em;
}

header h1 {
  margin: 0;
}

.side1 {
  margin-left: 2%;
}

.side2 {
  margin-left: 7%;
}

hr.style1{
	border-top: 1px solid #8c8b8b;
  margin-left: 0%;
  margin-right: 2%;
}

header a, header a:visited{
  color: #fff;
}

.header-left{
  width: 32%;
}

.header-middle{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-align: center;
  width: 32%;
}

.header-right{
  width: 32%;
  color: #fff;
  font-size: .9em;
  text-align: right;
}

#logo {
  margin-left: 47%;
  position: absolute;
}

#login-form {
  border: 1px solid gray;
  border-radius: 15px;
  background-color: #fff;
  padding: 3em;
  padding-top: 1em;
  opacity: 0.9;
}
//
// #login-form div, #login-form form {
//   padding: 0;
// }

#login-form-container {
  display: -webkit-flex;
 display: flex;
 -webkit-flex-direction: row; /* works with row or column */
 flex-direction: row;
 -webkit-align-items: center;
 align-items: center;
 -webkit-justify-content: center;
 justify-content: center;
 height: 100vh;
 background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(http://i.imgur.com/R0t052z.jpg);
 background-size:cover;
 z-index: -1;
}
