header {
  width: 100%;
  background-color: #19ACB6;
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin: 0;
}

#logo {
  margin-left: 47%;
  position: absolute;
}

#login-form {
  border: 1px solid gray;
  padding: 3em;
  padding-top: 1em;
}
//
// #login-form div, #login-form form {
//   padding: 0;
// }

#login-form-container {
  display: -webkit-flex;
 display: flex;
 -webkit-flex-direction: row; /* works with row or column */
 flex-direction: row;
 -webkit-align-items: center;
 align-items: center;
 -webkit-justify-content: center;
 justify-content: center;
}
