html {
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
}
.index-container{
  padding-left: 1em;
}

.modal.modal-wide .modal-dialog {
  max-width: 50%;
  width: auto;
  min-width: 30%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}