.show-container{
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;

   /* to bring modal container down from touching header */
   padding-top: 1em;
}

.show-appts-container{
  display: flex;
  justify-content: space-around;
}

.show-appts-container h3{
  /*text-decoration: underline;*/
}

.show-upcoming-appts-container{
  width: 750px;
/*  display: flex;
  align-items: center;
  flex-direction: column;*/
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: flex-end;
   align-items: flex-end;
}

.show-past-appts-container{
  width: 750px;
  margin-left: 1em;
/*  display: flex;
  align-items: center;
  flex-direction: column;*/
    display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: flex-start;
   align-items: flex-start;
}

.modal-container{
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

.prof-pic-container img{
  border-radius: 50%;
}

.prof-info-container{
  margin-left: .5em;
}

.phase-strength{
  margin-top: 3px;
  margin-bottom: 3px;
}

.strength{
  background-color:#262929;
  color: #fff;
  font-size: .9em;
  border-radius: 5px;
  padding: 3px;
  margin-left: 2px;
  margin-right: 2px;
}

/* card styles */
.card{
  border-radius: 7.5px;
  margin-bottom: 1em;
  max-width: 50%;
  padding: .5em;
}

.show-upcoming-appts-container .card{
  min-width: 40%;
}

.show-past-appts-container .card{
  width: 50%;
}

/*.debug{
  border: 1px solid red;
}*/