%h3 devbootcamp
%h3 plzhalp

/ cant figure out how to put in pipes
- if !current_user
  %div
    %a{:href => "/users/sign_up"} register
    %a{:href => "/users/sign_in"} | login
- else
  %div
    %a{:href => "#" } profile
    = link_to '| logout', destroy_user_session_path, method: :delete
